 .App {
   width: 100vw;
 }

 .btn {
   font-family: inherit;
   border: none;
   padding: 0.8rem;
   font-weight: 500;
   font-size: inherit;
   border-radius: 4px;
   cursor: pointer;
 }

 .slogan-btn {
   background-color: var(--primary-color);
   color: var(--white-color);
 }

 .download-outline-btn {
   padding: 0.6rem 1.4rem;
   border: 1.4px solid var(--primary-color);
   color: var(--primary-color);
   font-weight: 400;
font-size: 14px;
   background-color: var(--white-color);
 }

 .filled-btn {
   background-color: var(--white-color);
   color: var(--primary-color);
 }

 .link {
   background-color: transparent;
   color: var(--white-color);
 }

 .link:hover {
   text-decoration: underline;
 }

 .divider {
   border: none;
   height: 1px;
   background-color: var(--divider-color);
 }