@font-face {
  font-family: "Galano Grotesque";
  font-weight: 400;
  src: url("./assets/fonts/galanogrotesque-regular.otf") format("opentype");
}

@font-face {
  font-family: "Galano Grotesque";
  font-weight: 500;
  src: url("./assets/fonts/galanogrotesque-medium.otf") format("opentype");
}

@font-face {
  font-family: "Galano Grotesque";
  font-weight: 600;
  src: url("./assets/fonts/galanogrotesque-semibold.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #146eb4;
  --light-blue: #f3f8fb;
  --white-color: #fff;
  --light-grey: #fafafa;
  --medium-grey: #f2f2f2;
  --light-font: #4D4D4D;
  --container-shadow: #dcdcdc;
  --divider-color: #d9d9d9;
  --footer-bg-color: #1A181E;
  --black-color: black;
}

body {
  font-family: "Galano Grotesque";
  line-height: 1.5rem;
}

/* reusbale css classes */

/* for paddings */

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-3 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.py-5 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

/* for margins */

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-3 {
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}

/* font weights */

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600{
  font-weight: 600;
}